apiVersion: apps/v1
kind: Deployment
metadata:
  name: sis
spec:
  replicas: 2
  selector:
    matchLabels:
      app: sis
  template:
    metadata:
      labels:
        app: sis
    spec:
      containers:
        - name: sis
          image: yykhomenko/sis:latest
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 8080
          envFrom:
            - configMapRef:
                name: sis-config
            - secretRef:
                name: sis-secret
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 2
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 6
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 6
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 500m
              memory: 256Mi
